body{
    background-color: #eee;
}
.box{
    padding: 15px;
    width: 290px;
    background-color: white;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    box-shadow: 1px 4px 3px rgba(0,0,0,0.1);
    border-left: solid;
    transition: 0.3s;
}
.boxR{
    border-color: red;
}
.boxG{
    border-color: rgb(0, 138, 0);
}
.boxB{
    border-color: blue;
}
.boxR:hover{
    transform: scale(1.05,1.05);
}
.boxG:hover{
    box-shadow: 2px 6px 8px rgba(0,0,0,0.3);
}
.boxB:hover{
    background-color: rgba(0,0,255,0.1);
}