body{
    background-color: #eee;
}

.dropDown-btn{ /*Diseño del botón*/
    background-color: #4caf50;
    color: blanchedalmond;
    padding:16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropDown{
    position: relative;
    display: inline-block;
}
.dropDown-Content{ /*Esconder el contenido y dar diseño del contenedor*/
    display: none;
    position: absolute; /*Referencia de posición con respecto a su padre --> dropDown*/
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
}

.dropDown-Content a{ /*Seleccionamos los links dando estilo*/
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropDown-Content a:hover{ /*Aparecer una vez el cursor pase encima*/
    background-color: #f1f1f1;
}
.dropDown:hover .dropDown-btn{ /*Modificar sólo cuando estemos específicamente sobre el botón*/
    background-color: #3e8e41;
}
.dropDown:hover .dropDown-Content{ /*Mostrar la lista al hacer hover del botón y mantenerla al estar el cursor en los elementos de la lista*/
    display: block;
}